services:
  mongodb:
    container_name: mongodb-servicos
    image: mongo:8
    volumes:
      - vol-mongodb-servicos:/data/db
    ports:
      - 27017:27017
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - servicos-network

  api:
    container_name: api-servicos
    build: ./
    environment:
      DB_URL: "mongodb://mongodb-servicos:27017/servicosPublicos"
      NODE_ENV: "development"
      TERM: "xterm"
    ports:
      - 5011:5011
    env_file:
      - ./.env
    volumes:
      - ./:/app:delegated
      - /app/node_modules
    command: npm run dev:init
    depends_on:
      mongodb:
        condition: service_healthy
      mailsender:
        condition: service_started
    networks:
      - servicos-network

volumes:
  vol-mongodb-servicos:

networks:
  servicos-network:
    name: servicos-network
    driver: bridge
