apiVersion: v1
kind: ConfigMap
metadata:
  name: servicos-publicos-env
  labels:
    io.kompose.service: servicos-publicos
data:
  # Porta da API
  APP_PORT: "5011"

  # URLs
  BASE_URL: "https://servicospublicos-api.app.fslab.dev"
  FRONTEND_URL: "https://servicospublicos.app.fslab.dev"

  # MongoDB URLs
  DB_URL: "mongodb://mongodb-servicos:27017/servicosPublicos"
  DB_URL_TEST: "mongodb://mongodb-servicos:27017/servicosPublicos_teste"

  # Ambiente
  NODE_ENV: "production"
  DEBUGLOG: "false"

  # JWT Configurações (exemplo)
  JWT_ACCESS_TOKEN_EXPIRATION: "15m"
  JWT_PASSWORD_RECOVERY_EXPIRATION: "1h"
  JWT_REFRESH_TOKEN_EXPIRATION: "7d"
  JWT_SECRET_ACCESS_TOKEN: "<REPLACE_WITH_SECURE_VALUE>"
  JWT_SECRET_PASSWORD_RECOVERY: "<REPLACE_WITH_SECURE_VALUE>"
  JWT_SECRET_REFRESH_TOKEN: "<REPLACE_WITH_SECURE_VALUE>"
  SINGLE_SESSION_REFRESH_TOKEN: "false"

  # Mail Service (exemplo)
  URL_MAIL_SERVICE: "https://seu-servico-mailsender.exemplo/api/emails/send"
  MAIL_API_KEY: "<REPLACE_WITH_MAIL_API_KEY>"

  # MinIO Configurações (exemplo)
  MINIO_ENDPOINT: "minio.exemplo"
  MINIO_PORT: "443"
  MINIO_USE_SSL: "true"
  MINIO_BUCKET_FOTOS: "seu-bucket-de-fotos"
  MINIO_ACCESS_KEY: "<REPLACE_WITH_MINIO_ACCESS_KEY>"
  MINIO_SECRET_KEY: "<REPLACE_WITH_MINIO_SECRET_KEY>"

  # MongoDB Init (exemplo)
  MONGO_INITDB_DATABASE: "servicosPublicos"
  MONGO_INITDB_ROOT_USERNAME: "<REPLACE_WITH_MONGO_ROOT_USER>"
  MONGO_INITDB_ROOT_PASSWORD: "<REPLACE_WITH_MONGO_ROOT_PASSWORD>"

