# CONFIGMAP EXAMPLE - API Serviços Públicos

apiVersion: v1
kind: ConfigMap
metadata:
  name: servicos-publicos-env
  labels:
    io.kompose.service: servicos-publicos
data:
  # SERVIDOR
  APP_PORT: "5011"
  NODE_ENV: "production"
  DEBUGLOG: "false"

  # URLs
  BASE_URL: "https://servicospublicos-api.app.fslab.dev"
  FRONTEND_URL: "https://servicospublicos.app.fslab.dev"
  SWAGGER_PROD_URL: "https://servicospublicos-api.app.fslab.dev"
  SWAGGER_DEV_URL: "https://servicospublicos-api.app.fslab.dev"

  # MONGODB
  # Formato: mongodb://USUARIO:SENHA@HOST:PORTA/DATABASE?authSource=admin
  DB_URL: "mongodb://<USUARIO>:<SENHA>@servicos-mongodb-publicos:27017/servicosPublicos?authSource=admin"
  DB_URL_TEST: "mongodb://<USUARIO>:<SENHA>@servicos-mongodb-publicos:27017/servicosPublicosTest?authSource=admin"
  MONGO_INITDB_DATABASE: "servicosPublicos"
  MONGO_INITDB_ROOT_USERNAME: "<GERAR_USUARIO>"
  MONGO_INITDB_ROOT_PASSWORD: "<GERAR_SENHA_SEGURA>"

  # JWT - GERAR: openssl rand -base64 48
  JWT_ACCESS_TOKEN_EXPIRATION: "15m"
  JWT_PASSWORD_RECOVERY_EXPIRATION: "1h"
  JWT_REFRESH_TOKEN_EXPIRATION: "7d"
  JWT_SECRET_ACCESS_TOKEN: "<GERAR_COM_OPENSSL>"
  JWT_SECRET_PASSWORD_RECOVERY: "<GERAR_COM_OPENSSL>"
  JWT_SECRET_REFRESH_TOKEN: "<GERAR_COM_OPENSSL>"
  SINGLE_SESSION_REFRESH_TOKEN: "false"

  # MAIL SERVICE
  URL_MAIL_SERVICE: "https://mailsender-backend.app.fslab.dev/api/emails/send"
  MAIL_API_KEY: "<GERAR_API_KEY>"

  # MINIO (Armazenamento de Arquivos)
  MINIO_ENDPOINT: "objects.fslab.dev"
  MINIO_PORT: "443"
  MINIO_USE_SSL: "true"
  MINIO_BUCKET_FOTOS: "fs3-public-services"
  MINIO_ACCESS_KEY: "<GERAR_MINIO_ACCESS>"
  MINIO_SECRET_KEY: "<GERAR_MINIO_SECRET>"

